.services{
    background-image: url('https://i.ibb.co/xmBCmsw/pexels-clem-onojeghuo-173294.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.services-header-text{
    color: white;
}